In [3]:
import pandas as pd
import scratch

import acquire as a
import prepare as p

1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [4]:
scratch.count_logs().head()

AttributeError: module 'env' has no attribute 'get_database'

2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [ ]:
df = scratch.count_lessons()
df.dropna()

### 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

In [5]:
df = a.get_log_data()
df = p.clean_logs(df)

In [6]:
#Count on path by cohort_id, merge dataframes, and create columns for active users
pages_by_user = pd.DataFrame(df.groupby(['cohort_id']).path.count().reset_index()).rename(columns={
'path':'pages_visited'})
df = df.merge(pages_by_user, how='left', on=['cohort_id']).set_index(df.index)
df['active'] = (df.index >= df['start_date']) & (df.index <= df['end_date'])

# Calculate the average pages visited per user
user_avg_pages = df.groupby('user_id')['pages_visited'].mean().reset_index()

In [7]:
#k
multiplier =1.5

#calculate our q1 and q3
q1 = df.pages_visited.quantile(0.25)
q3 = df.pages_visited.quantile(0.75)
iqr = q3-q1

#calculate our fences
inner_lower_fence = q1 - (multiplier * iqr) 
inner_upper_fence = q3 + (multiplier * iqr) 

# Identify the users who visited significantly fewer pages than the average
low_activity_users = user_avg_pages[user_avg_pages['pages_visited'] < 9000]

# Merge with the original DataFrame to get more information about these users
low_activity_data = pd.merge(low_activity_users['user_id'], df, on='user_id', how='left')

#active and inactive laggers
df_without_duplicates = low_activity_data.drop_duplicates(subset=['user_id'])
active_laggers = df_without_duplicates[df_without_duplicates['active'] == True]
inactive_laggers = df_without_duplicates[df_without_duplicates['active'] == False]

In [8]:
active_laggers

,user_id,path,cohort_id,ip,name,start_date,end_date,program,pages_visited,active
0,10,mkdocs/search_index.json,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,wd,7444,True
922,15,/,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,wd,7444,True
1218,16,spring,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,wd,7444,True
1417,17,spring/extra-features/file-upload,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,wd,7444,True
1699,22,html-css/introduction,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,wd,7444,True
...,...,...,...,...,...,...,...,...,...,...
26440,976,/,139.0,72.26.31.59,Oberon,2021-04-12,2021-10-01,wd,1672,True
26469,977,/,139.0,104.190.247.231,Oberon,2021-04-12,2021-10-01,wd,1672,True
26555,978,/,139.0,73.85.64.161,Oberon,2021-04-12,2021-10-01,wd,1672,True
26610,979,/,139.0,107.77.217.122,Oberon,2021-04-12,2021-10-01,wd,1672,True
26737,981,html-css/css-ii/bootstrap-introduction,138.0,67.11.98.144,Neptune,2021-03-15,2021-09-03,wd,7276,True

**Takeaways**

 - We have about 103 active users who don't seem to visit our curriculum as much

### 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

In [9]:
# Count the number of pages visited by each IP address
pages_by_ip = df.groupby('ip')['path'].count().sort_values(ascending=False)

#start with an inner fence calculation
multiplier = 3

#calculate our q1 and q3
q1 = pages_by_ip.quantile(0.25)
q3 = pages_by_ip.quantile(0.75)
iqr = q3-q1

# Fences
inner_lower_fence = q1 - (multiplier * iqr) 
inner_upper_fence = q3 + (multiplier * iqr)

#make col into data frame and rename 
pages_by_ip = pd.DataFrame(pages_by_ip)
pages_by_ip.rename(columns={'path': 'ip_pages_visited'}, inplace = True)

# merge data frame to original data frame
df = pd.merge(pages_by_ip, df, on = 'ip', how = 'left')

# drop dulplicated ip address and subset them as well 
ip_df = df.drop_duplicates(subset=['ip'])

# suspicious ip address
sus_ip = ip_df[ip_df['ip_pages_visited'] > 50]

In [10]:
sus_ip

,ip,ip_pages_visited,path,user_id,cohort_id,name,start_date,end_date,program,pages_visited,active
0,97.105.19.58,257476,/,183,24.0,Voyageurs,2018-05-29,2018-10-11,wd,35636,True
257476,97.105.19.61,53232,javascript-i/conditionals,2,22.0,Teddy,2018-01-08,2018-05-17,wd,30926,True
310708,192.171.117.210,8731,/,76,18.0,Pinnacles,2017-03-27,2017-07-20,wd,2158,False
319439,71.150.217.33,6791,/,64,28.0,Staff,2014-02-04,2014-02-04,wd,84031,False
326230,76.185.145.231,4754,/,11,28.0,Staff,2014-02-04,2014-02-04,wd,84031,False
...,...,...,...,...,...,...,...,...,...,...,...
782819,24.160.135.99,51,jquery,183,24.0,Voyageurs,2018-05-29,2018-10-11,wd,35636,True
782870,173.227.210.1,51,/,304,27.0,Yosemite,2018-11-05,2019-04-03,wd,20743,True
782921,45.131.192.222,51,/,825,134.0,Luna,2020-12-07,2021-06-08,wd,16623,True
782972,67.48.40.83,51,/,232,25.0,Wrangell,2018-07-23,2018-11-29,wd,25586,False
783023,66.69.44.196,51,/,653,28.0,Staff,2014-02-04,2014-02-04,wd,84031,False

**Takeaways**

 - Out of about 5000 unique IP addresses, we would flag about 1000 or 20% of them.
 
 - I would really focus on the top 4 as they seem high in the amount of times they access our curriculum